extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae ducimus, commodi dignissimos pariatur laudantium ratione aliquid in ipsa porro veritatis quisquam, iusto, quam ea exercitationem quasi perferendis assumenda aperiam enim!

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, quae. Iure quod, dolorem ipsum dicta et, in mollitia eaque fuga recusandae, ratione unde! Repellendus nemo, quod qui non omnis tempora.

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda possimus magnam fuga! Aut ut ullam, tempore iusto earum, animi dignissimos impedit expedita dolorum dolore accusamus incidunt alias neque ab sit? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit velit, consequatur eligendi quaerat quod saepe! Quis libero minus optio exercitationem necessitatibus porro! Officia autem molestiae nobis minus mollitia iusto dolorum!
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda possimus magnam fuga! Aut ut ullam, tempore iusto earum, animi dignissimos impedit expedita dolorum dolore accusamus incidunt.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda possimus magnam fuga! Aut ut ullam, tempore iusto earum, animi dignissimos impedit expedita dolorum dolore accusamus incidunt.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precions", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda possimus magnam fuga! Aut ut ullam, tempore iusto earum, animi dignissimos impedit expedita dolorum dolore accusamus incidunt.